body{
  padding: 20px;
  margin:0;
  min-height: 100vh;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  font-size: 16px;
  align-content: center;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: border-box;
}
